body {
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 300%;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  letter-spacing: 0.12em;
  word-spacing: 0.2em;
  text-indent: 0;
}
h2 {
  font-size: 150%;
  margin-top: 2em;
  margin-bottom: 1em;
}
h3 {
  font-size: 130%;
  margin-top: 1em;
}
h4 {
  font-size: 120%;
  margin-top: 1em;
  margin-bottom: 1em;
}
h5 {
  font-size: 110%;
}
.no-break {
  page-break-before: avoid;
}
hr {
  width: 80%;
  margin-top: 2em;
  margin-bottom: 2em;
}
div.chapter {
  page-break-before: always;
  margin-top: 4em;
}
p {
  text-indent: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.p2 {
  margin-top: 2em;
}
p.poem {
  text-indent: 0%;
  margin-left: 10%;
  font-size: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
}
p.letter {
  text-indent: 0%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
  margin-bottom: 1em;
}
p.noindent {
  text-indent: 0%;
}
p.center {
  text-align: center;
  text-indent: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
p.right {
  text-align: right;
  margin-right: 10%;
  margin-top: 1em;
  margin-bottom: 1em;
}
p.asterism {
  text-align: center;
  font-size: 150%;
  margin-top: 1em;
  margin-bottom: 1em;
}
p.publisher {
  margin-top: 4em;
  text-align: center;
  font-size: smaller;
  margin-bottom: 3em;
  text-indent: 0;
  letter-spacing: 0.15ex;
}
p.copyright {
  margin-top: 6em;
  text-align: center;
  font-size: 70%;
  margin-bottom: 3em;
  text-indent: 0;
  line-height: 150%;
}
div.fig {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: red;
}
a:active {
  text-decoration: underline;
}
table {
  margin-left: auto;
  margin-right: auto;
  line-height: 180%;
}
td.leftalign {
  padding-right: 4em;
  text-align: left;
  padding-left: 1em;
}
td.rightalign {
  text-align: right;
}
.pagenum {
  /* uncomment the next line for invisible page numbers */
  /*  visibility: hidden;  */
  position: absolute;
  right: 1%;
  font-size: x-small;
  text-align: right;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
  text-indent: 0;
}

.bbox {
  border: solid 1px;
  margin-left: 20%;
  margin-right: 20%;
}
.center {
  text-align: center;
  text-indent: 0;
}
.smcap {
  font-variant: small-caps;
}
.figcenter {
  margin: auto;
  text-align: center;
  text-indent: 0;
}
.figleft {
  float: left;
  clear: left;
  margin-left: 0;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-right: 1em;
  padding: 0;
  text-align: center;
}
.figright {
  float: right;
  clear: right;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-right: 0;
  padding: 0;
  text-align: center;
}
ul {
  list-style: none;
  line-height: 150%;
}
.footnotes {
  border: dotted 1px;
  padding-bottom: 1em;
  margin-top: 2em;
}
.footnote {
  margin-left: 10%;
  margin-right: 10%;
  font-size: smaller;
}
.footnote .label {
  position: absolute;
  right: 84%;
  text-align: right;
}
.fnanchor {
  vertical-align: baseline;
  font-size: 80%;
  position: relative;
  top: -0.4em;
}
/******************************************************/
div.c8 {
  width: 70%;
}
img.c7 {
  width: 100%;
}
div.c6 {
  margin-top: 2em;
  margin-bottom: 4em;
}
div.c5 {
  display: block;
  margin-left: 2em;
  text-indent: -2em;
}
div.c4 {
  display: block;
  margin: 1em 0;
}
div.c3 {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  text-indent: -2em;
}
div.c2 {
  display: block;
  margin: 1em 0;
}
div.c1 {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
