/* This CSS file was modified based on the style tags of: 
 * 1. https://www.gutenberg.org/cache/epub/4300/pg4300-images.html
 * 2. https://www.gutenberg.org/cache/epub/1661/pg1661-images.html
 * 3. https://www.gutenberg.org/cache/epub/25344/pg25344-images.html
 */

body {
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
  background-color: wheat;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  /* theme header */
  font-family: sans-serif;
}
h1 {
  font-size: 300%;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  letter-spacing: 0.12em;
  word-spacing: 0.2em;
  text-indent: 0;
}
h2 {
  font-size: 150%;
  margin-top: 2em;
  margin-bottom: 1em;
}
h3 {
  font-size: 130%;
  margin-top: 1em;
}
h4 {
  font-size: 120%;
  margin-top: 1em;
  margin-bottom: 1em;
}
h5 {
  font-size: 110%;
}
.no-break {
  page-break-before: avoid;
}
hr {
  width: 80%;
  margin-top: 2em;
  margin-bottom: 2em;
}
img {
  border-style: none;
  /* theme image */
  border-radius: 8px;
}
p {
  text-indent: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  /* theme paragraph */
  font-family: sans-serif;
}
.p2 {
  margin-top: 2em;
}
p.poem {
  text-indent: 0%;
  margin-left: 10%;
  font-size: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
}
p.letter {
  text-indent: 0%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
  margin-bottom: 1em;
}
p.noindent {
  text-indent: 0%;
}
p.center {
  text-align: center;
  text-indent: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
p.right {
  text-align: right;
  margin-right: 10%;
  margin-top: 1em;
  margin-bottom: 1em;
}
p.asterism {
  text-align: center;
  font-size: 150%;
  margin-top: 1em;
  margin-bottom: 1em;
}
p.publisher {
  margin-top: 4em;
  text-align: center;
  font-size: smaller;
  margin-bottom: 3em;
  text-indent: 0;
  letter-spacing: 0.15ex;
}
p.copyright {
  margin-top: 6em;
  text-align: center;
  font-size: 70%;
  margin-bottom: 3em;
  text-indent: 0;
  line-height: 150%;
}
p.c31 {
  padding-top: 2em;
  font-size: 60%;
  text-indent: 0;
}
p.c13 {
  padding-top: 2em;
}
p.c12 {
  font-size: 90%;
}
p.c8 {
  text-indent: 0;
}
p.c4 {
  padding-bottom: 4em;
}
p.c3 {
  font-size: 120%;
  padding-bottom: 2em;
}
p.c2 {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 80%;
}
div.chapter {
  page-break-before: always;
  margin-top: 4em;
}
div.fig {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
div.note {
  margin: 4em 10% 0 10%;
  padding: 1em;
  border: 1px dashed black;
  color: inherit;
  background-color: #f0f8ff;
  font-size: smaller;
}
div.initial {
  float: left;
  clear: both;
  padding-top: 0;
  padding-right: 0.3em;
}
div.backright {
  background: top right no-repeat;
}
div.backleft {
  background: top left no-repeat;
}
div.sandbag-left {
  float: left;
  clear: left;
  padding-right: 10px;
}
div.sandbag {
  float: right;
  clear: right;
  padding-left: 10px;
}
div.footnote p {
  text-indent: 0;
}
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: red;
}
a:active {
  text-decoration: underline;
}
table {
  margin-left: auto;
  margin-right: auto;
  line-height: 180%;
}
td.leftalign {
  padding-right: 4em;
  text-align: left;
  padding-left: 1em;
}
td.rightalign {
  text-align: right;
}
td.c10 {
  text-align: center;
}
.pagenum {
  /* uncomment the next line for invisible page numbers */
  /*  visibility: hidden;  */
  position: absolute;
  right: 1%;
  font-size: x-small;
  text-align: right;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
  text-indent: 0;
}

.bbox {
  border: solid 1px;
  margin-left: 20%;
  margin-right: 20%;
}
.center {
  text-align: center;
  text-indent: 0;
}
.smcap {
  font-variant: small-caps;
}
.figcenter {
  margin: auto;
  text-align: center;
  text-indent: 0;
}
.figleft {
  float: left;
  clear: left;
  margin-left: 0;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-right: 1em;
  padding: 0;
  text-align: center;
}
.figright {
  float: right;
  clear: right;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-right: 0;
  padding: 0;
  text-align: center;
}
ul {
  list-style: none;
  line-height: 150%;
}
.footnotes {
  border: dotted 1px;
  padding-bottom: 1em;
  margin-top: 2em;
}
.footnote {
  margin-left: 10%;
  margin-right: 10%;
  font-size: smaller;
}
.footnote .label {
  position: absolute;
  right: 84%;
  text-align: right;
}
.fnanchor {
  vertical-align: baseline;
  font-size: 80%;
  position: relative;
  top: -0.4em;
}
.xhtml_big {
  font-size: larger;
}
/******************************************************/

span.xhtml_big.c9 {
  font-weight: bold;
}
span.xhtml_big.c6 {
  font-weight: bold;
}
span.firstwords {
  text-transform: uppercase;
}
span.c15 {
  font-size: smaller;
}
span.c12 {
  font-size: smaller;
}
span.c10 {
  font-size: 1.5em;
}
span.c9 {
  font-size: 80%;
}
span.c1 {
  font-size: 50%;
}
img.c8 {
  width: 100%;
}
img.c7 {
  width: 100%;
}
h4.c11 {
  font-weight: bold;
}
table.c10 {
  margin-right: auto;
  margin-left: auto;
}
table.c7 {
  margin-right: auto;
  margin-left: auto;
}
div.c30 {
  width: 150px;
  padding-top: 4em;
}
div.c29 {
  background-image: url(images/illu_289.jpg);
  height: 100%;
}
div.c28 {
  width: 290px;
  height: 120px;
}
div.c27 {
  width: 400px;
  height: 170px;
}
div.c26 {
  background-image: url(images/illu_172.jpg);
  height: 100%;
}
div.c25 {
  width: 355px;
  height: 250px;
}
div.c24 {
  width: 280px;
  height: 150px;
}
div.c23 {
  width: 200px;
}
div.c22 {
  width: 164px;
}
div.c21 {
  background-image: url(images/illu_078.jpg);
  height: 100%;
}
div.c20 {
  width: 245px;
  height: 230px;
}
div.c19 {
  margin-left: 0.7em;
}
div.c18 {
  text-indent: -0.7em;
}
div.c17 {
  display: block;
  font-size: 1.1em;
  margin: 1em 0;
  font-weight: bold;
}
div.c16 {
  margin: 0.83em 0;
  font-size: 1.1em;
  text-align: center;
}
div.c15 {
  text-indent: -0.7em;
}
div.c14 {
  display: block;
  font-size: 1.1em;
  margin: 1em 0;
  font-weight: bold;
}
div.c13 {
  display: block;
  margin-top: 4em;
}
div.c12 {
  width: 80%;
}
div.c11 {
  display: block;
  margin-top: 4em;
}
div.c9 {
  width: 65%;
}
div.c8 {
  width: 70%;
}
div.c7 {
  width: 70px;
}
div.c6 {
  margin-top: 2em;
  margin-bottom: 4em;
}
div.c5 {
  display: block;
  margin-left: 2em;
  text-indent: -2em;
}
div.c4 {
  display: block;
  margin: 1em 0;
}
div.c3 {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  text-indent: -2em;
}
div.c2 {
  display: block;
  margin: 1em 0;
}
div.c1 {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
